body {
font-family: Arial;
}

h1 {
	text-align: center;
	font-size: 175%;
}

section > nav 
{
	margin: 0px;
	padding: 0px;
	position: relative;
	left: 68%;
	font-size: 125%;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align:center;
}

#section1 > nav
{
background-color: lightblue;
color : red;
}

#section2 > nav
{
background-color: red;
color : white;	
}

#section3 > nav
{
background-color: yellow;	
color : green;
}

section {
	box-sizing: border-box;
	background-color: aqua;
	margin-left:5px; 
	margin-right:5px;
	margin-bottom: 5%;
	border: 1px solid;
	float: left;
	color : #0000ff;
}

@media (min-width: 992px)
{

section {
	float: left;
}

#section1 {
	width: 30%;
	margin-left:2%; 
	margin-right:1%;
	padding-left:0.5%; 
	padding-right:0.5%;
}

#section2 {
	width: 30%;
	margin-left:2%; 
	margin-right:1%;
	padding-left:0.5%; 
	padding-right:0.5%;
}

#section3 {
	width: 30%;
	margin-left:2%; 
	margin-right:1%;
	padding-left:0.5%; 
	padding-right:0.5%;
}

section > nav {
width: 33.5%;
}
                       }

@media (min-width: 768px) and (max-width: 991px)
{

section {
	float: left;
}

#section1 {
	width: 48%;
	margin-left:1%; 
	margin-right:1%;
	padding-left:0.5%; 
	padding-right:0.5%;
}

#section2 {
	width: 48%;
	margin-left:1%; 
	margin-right:1%;
	padding-left:0.5%; 
	padding-right:0.5%;
}

#section3 {
	width: 98%;
	margin-left:1%; 
	margin-right:1%;
	padding-left:0.5%; 
	padding-right:0.5%;
}

section > nav {
width: 32.8%;
}

#section3 > nav
{
	width: 32.45%;
}

                     }
                                

@media (max-width: 767px)
{
section > nav {
width: 31.9%;
}

section {
	padding-left: 2%
}
}
                                }